<!-- <h1 class="text-3xl font-bold underline">{{ title }}</h1> -->
<main class="py-4 px-12">
  <header class="flex justify-between items-center">
    <div><img src="../assets/img/png/main.png" alt="main icon"></div>
    <menu
      class="flex items-center gap-x-14 text-xl font-semibold text-green-primary capitalize"
    >
      <div class="cursor-pointer">beranda</div>
      <div class="cursor-pointer">layanan</div>
      <div class="cursor-pointer">blog</div>
      <button class="bg-green-primary py-2 px-10 rounded-xl text-white capitalize">
        masuk
      </button>
    </menu>
  </header>
</main>
